<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 class="pa-2">
        <v-layout row wrap>
          <v-flex xs12  class="pa-2">
            <v-card>
              <v-flex xs12>
                <v-layout>
                  <v-flex xs12>
                    <v-card>
                        <v-flex xs12 >
                          <v-card-title class="accent">
                            <v-layout row wrap>

                              <v-flex xs3>
                                <span class="subheading white--text">
                                  Name
                                </span>
                              </v-flex>
                              <v-flex xs4>
                                <span class="subheading white--text">
                                  Description
                                </span>
                              </v-flex>
                              <v-flex xs2>
                                <span class="subheading white--text">
                                  Price
                                </span>
                              </v-flex>
                              <v-flex xs1 text-xs-center>
                                <span class="subheading white--text">
                                  Edit
                                </span>
                              </v-flex>
                              <v-flex xs1 text-xs-right>
                                <span class="subheading white--text">
                                  Delete
                                </span>
                              </v-flex>
                            </v-layout>
                          </v-card-title>

                          <v-layout row wrap v-for="(beverageData, i) in beveragesData" :key="i">
                            <v-flex xs12>
                              <v-card-title>
                                <v-flex xs3>
                                  <span class="subheading">
                                    {{beverageData.name}}
                                  </span>
                                </v-flex>
                                <v-flex xs4>
                                  <span class="subheading">
                                    {{beverageData.description}}
                                  </span>
                                </v-flex>
                                <v-flex xs2>
                                  <span class="subheading">
                                    UGX {{beverageData.price}}
                                  </span>
                                </v-flex>
                                <v-flex xs1 text-xs-center>
                                  <v-btn icon :to="'/Edit/editBev/' + beverageData.key ">
                                    <v-icon color="accent">edit</v-icon>
                                  </v-btn>
                                </v-flex>

                                <v-flex xs1 text-xs-right>
                                  <v-dialog v-model="dialog" persistent max-width="290">
                                    <v-btn slot="activator" icon  >
                                      <v-icon color="red">delete</v-icon>
                                    </v-btn>
                                    <v-card>
                                      <v-card-title class="headline red white--text">
                                         <v-icon color="white" left>warning</v-icon>
                                          Deletion Beverage Item
                                      </v-card-title>
                                      <v-text>You are deleting Beverage item on menu list. After you delete this, it can't be recovered.</v-text>
                                      <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="primary darken-1" flat @click.native="dialog = false">Cancel</v-btn>
                                        <v-btn color="red darken-1" class="white--text" @click="onDelete(beverageData)">Delete</v-btn>
                                      </v-card-actions>
                                    </v-card>
                                  </v-dialog>
                                </v-flex>
                              </v-card-title>
                            </v-flex>
                          </v-layout>

                          <v-divider></v-divider>
                          <v-layout row wrap="">
                              <v-spacer></v-spacer>
                              <!--<v-card-title>-->
                                <!--<h4 class="accent&#45;&#45;text">-->
                                  <!--{{baveragesize}} of-->
                                  <!--{{baveragesize}}-->
                                <!--</h4>-->
                              <!--</v-card-title>-->

                              <v-btn icon @click="onBackItems">
                                <v-icon color="accent">
                                  chevron_left
                                </v-icon>
                              </v-btn>
                              <v-btn icon @click="onNextItems">
                                <v-icon color="accent">
                                  chevron_right
                                </v-icon>
                              </v-btn>
                          </v-layout>
                        </v-flex>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import * as firebase from '../../../node_modules/firebase'

  export default {
    data () {
      return {
        beveragesData: [],
        lastDocument: null,
        dialog: false
      }
    },
//    computed: {
//      baveragesize () {
//        return this.$store.getters.baverageSize
//      }
//    },
    methods: {
      onNextItems () {
        var lastVisible = this.lastDocument
        const db = firebase.firestore()
        db.collection('beverages').doc(this.$route.params.id).collection('menus').startAfter(lastVisible).limit(5).onSnapshot(snap => {
          var beverageData = []
          snap.forEach(doc => {
            var data = {
              name: doc.data().name,
              description: doc.data().description,
              price: doc.data().price,
              key: doc.id,
              imgUrl: doc.data().imageUrl,
              category: doc.data().category,
              subCategory: doc.data().subCategory
            }
            beverageData.push(data)
          })
          lastVisible = snap.docs[snap.docs.length - 1]
          this.beveragesData = beverageData
          if (!lastVisible) {
            this.lastDocument = lastVisible
          }
        })
      },
      onBackItems () {
        var lastVisible = this.lastDocument
        const db = firebase.firestore()
        db.collection('beverages').doc(this.$route.params.id).collection('menus').endAt(lastVisible).limit(5).onSnapshot(snap => {
          var beverageData = []
          snap.forEach(doc => {
            var data = {
              name: doc.data().name,
              description: doc.data().description,
              price: doc.data().price,
              key: doc.id,
              imgUrl: doc.data().imageUrl,
              category: doc.data().category,
              subCategory: doc.data().subCategory
            }
            beverageData.push(data)
          })
          lastVisible = snap.docs[snap.docs.length - 1]
          this.beveragesData = beverageData
          if (!lastVisible) {
            this.lastDocument = lastVisible
          }
        })
      },
      onDelete (beverageData) {
        firebase.firestore().collection('beverages').doc(this.$route.params.id).collection('menus').doc(beverageData['key']).delete()
        this.dialog = false
      }
    },
    mounted () {
      this.$store.dispatch('fetchBeverageSize')
      const db = firebase.firestore()
      db.collection('beverages').doc(this.$route.params.id).collection('menus').limit(5).onSnapshot(snap => {
        var lastVisible = null
        var beverageData = []
        snap.forEach(doc => {
          var data = {
            name: doc.data().name,
            description: doc.data().description,
            price: doc.data().price,
            key: doc.id,
            imgUrl: doc.data().imageUrl,
            category: doc.data().category,
            subCategory: doc.data().subCategory
          }
          beverageData.push(data)
        })
        lastVisible = snap.docs[snap.docs.length - 1]
        this.beveragesData = beverageData
        this.lastDocument = lastVisible
      })
    }
  }
</script>
