<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 class="pa-2">
        <v-layout row wrap>
          <v-flex xs12  class="pa-2">
            <v-card>
              <v-flex xs12>
                <v-layout>
                  <v-flex xs12>
                    <v-card>
                      <v-flex xs12 >
                        <v-card-title class="accent">
                          <v-layout row wrap>

                            <v-flex xs4>
                                <span class="subheading white--text">
                                  Name
                                </span>
                            </v-flex>
                            <v-flex xs4 class="text-xs-center">
                                <span class="subheading white--text">
                                  Quantity
                                </span>
                            </v-flex>
                            <v-flex xs4 class="text-xs-center">
                                <span class="subheading white--text">
                                  Actions
                                </span>
                            </v-flex>
                          </v-layout>
                        </v-card-title>

                        <v-layout row wrap v-for="(foodData, i) in foodsData" :key="i">
                          <v-flex xs12>
                            <v-card-title>

                              <v-flex xs4 >
                                  <span class="subheading">
                                    {{foodData.name}}
                                  </span>
                              </v-flex>
                              <v-flex xs4 text-xs-center>
                                  <span class="subheading ">
                                    {{foodData.qty}}
                                  </span>
                              </v-flex>
                              <v-flex xs4 text-xs-center>
                                <v-btn icon :to="'/menu/dessert/' +foodData.name">
                                  <v-icon color="accent">forward</v-icon>
                                </v-btn>
                              </v-flex>
                            </v-card-title>
                          </v-flex>
                        </v-layout>

                        <!--<v-divider></v-divider>-->
                        <!--<v-layout row wrap="">-->
                        <!--<v-spacer></v-spacer>-->
                        <!--<v-btn icon @click="onFoodBack">-->
                        <!--<v-icon color="accent">-->
                        <!--chevron_left-->
                        <!--</v-icon>-->
                        <!--</v-btn>-->
                        <!--<v-btn icon @click="onFoodNext">-->
                        <!--<v-icon color="accent">-->
                        <!--chevron_right-->
                        <!--</v-icon>-->
                        <!--</v-btn>-->
                        <!--</v-layout>-->
                      </v-flex>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import * as firebase from '../../../node_modules/firebase'

  export default {
    data () {
      return {
        foodsData: [],
        lastDocument: null,
        dialog: false,
        editDialog: false
      }
    },
//    computed: {
//      foodSize () {
//        return this.$store.getters.foodSize
//      }
//    },
    methods: {
    },
    mounted () {
      this.$store.dispatch('fetchDessertSize')
      const db = firebase.firestore()
      db.collection('desserts').onSnapshot(snap => {
        var lastVisible = null
        var foodData = []
        snap.forEach(doc => {
          var data = {
            name: doc.data().name,
            qty: doc.data().qty
          }
          foodData.push(data)
        })
        lastVisible = snap.docs[snap.docs.length - 1]
        this.foodsData = foodData
        this.lastDocument = lastVisible
      })
    }
  }
</script>
<style scoped>
  /* image upload  */

  .dropbox {
    outline: 2px dashed rgb(80, 21, 21); /* the dash box */
    outline-offset: -10px;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
  }

  /*Loader fro loading button whne submitting*/

  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
