<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 class="pa-2">
        <v-layout row wrap>
          <v-flex xs12  class="pa-2">
            <v-card>
              <v-flex xs12>
                <v-layout>
                  <v-flex xs12>
                    <v-card>
                        <v-flex xs12 >
                          <v-card-title class="accent">
                            <v-layout row wrap>

                              <v-flex xs3>
                                <span class="subheading white--text">
                                  Name
                                </span>
                              </v-flex>
                              <v-flex xs4>
                                <span class="subheading white--text">
                                  Description
                                </span>
                              </v-flex>
                              <v-flex xs2>
                                <span class="subheading white--text">
                                  Price
                                </span>
                              </v-flex>
                              <v-flex xs1 text-xs-center>
                                <span class="subheading white--text">
                                  Edit
                                </span>
                              </v-flex>
                              <v-flex xs1 text-xs-center text-xs-right>
                                <span class="subheading white--text">
                                  Delete
                                </span>
                              </v-flex>
                            </v-layout>
                          </v-card-title>

                          <v-layout row wrap v-for="(foodData, i) in foodsData" :key="i">
                            <v-flex xs12>
                              <v-card-title>

                                <v-flex xs3>
                                  <span class="subheading">
                                    {{foodData.name}}
                                  </span>
                                </v-flex>
                                <v-flex xs4>
                                  <span class="subheading ">
                                    {{foodData.description}}
                                  </span>
                                </v-flex>
                                <v-flex xs2>
                                  <span class="subheading ">
                                    UGX {{foodData.price}}
                                  </span>
                                </v-flex>
                                <v-flex xs1 text-xs-center>
                                    <v-btn icon :to="'/Edit/editFood/' + foodData.key ">
                                      <v-icon color="accent">edit</v-icon>
                                    </v-btn>
                                </v-flex>

                                <v-flex xs1 text-xs-right>
                                  <v-dialog v-model="dialog" persistent max-width="290">
                                    <v-btn slot="activator" icon  >
                                      <v-icon color="red">delete</v-icon>
                                    </v-btn>

                                    <v-card>
                                      <v-card-title class="headline red white--text"> <v-icon color="white" left>warning</v-icon> Deletion Food Item</v-card-title>
                                      <v-card-text>You are deleting food item on menu list. After you delete this, it can't be recovered.</v-card-text>
                                      <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="primary darken-1" flat @click.native="dialog = false">Cancel</v-btn>
                                        <v-btn color="red darken-1" class="white--text" @click="onFoodDelete(foodData)">Delete</v-btn>
                                      </v-card-actions>
                                    </v-card>
                                  </v-dialog>
                                </v-flex>
                              </v-card-title>
                            </v-flex>
                          </v-layout>

                          <v-divider></v-divider>
                          <v-layout row wrap="">
                              <v-spacer></v-spacer>
                              <!--<v-card-title>-->
                                <!--<h4 class="accent&#45;&#45;text">-->
                                  <!--{{foodSize}} of-->
                                  <!--{{foodSize}}-->
                                <!--</h4>-->
                              <!--</v-card-title>-->

                              <v-btn icon @click="onFoodBack">
                                <v-icon color="accent">
                                  chevron_left
                                </v-icon>
                              </v-btn>
                              <v-btn icon @click="onFoodNext">
                                <v-icon color="accent">
                                  chevron_right
                                </v-icon>
                              </v-btn>
                          </v-layout>
                        </v-flex>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import * as firebase from '../../../node_modules/firebase'

  export default {
    data () {
      return {
        foodsData: [],
        lastDocument: null,
        dialog: false,
        editDialog: false
      }
    },
//    computed: {
//      foodSize () {
//        return this.$store.getters.foodSize
//      }
//    },
    methods: {
      onFoodNext () {
        var lastVisible = this.lastDocument
        console.log('New las', lastVisible)
        const db = firebase.firestore()
        db.collection('foods').doc(this.$route.params.id).collection('menus').startAfter(lastVisible).limit(5).onSnapshot(snap => {
          var foodData = []
          snap.forEach(doc => {
            var data = {
              name: doc.data().name,
              description: doc.data().description,
              price: doc.data().price,
              key: doc.id,
              imgUrl: doc.data().imageUrl
            }
            foodData.push(data)
          })
          lastVisible = snap.docs[snap.docs.length - 1]
          this.foodsData = foodData
          if (!lastVisible) {
            this.lastDocument = lastVisible
          }
        })
      },
      onFoodBack () {
        var lastVisible = this.lastDocument
        console.log('New las', lastVisible)
        const db = firebase.firestore()
        db.collection('foods').doc(this.$route.params.id).collection('menus').endAt(lastVisible).limit(5).get().then(snap => {
          var foodData = []
          snap.forEach(doc => {
            var data = {
              name: doc.data().name,
              description: doc.data().description,
              price: doc.data().price,
              key: doc.id,
              imgUrl: doc.data().imageUrl
            }
            foodData.push(data)
          })
          lastVisible = snap.docs[snap.docs.length - 1]
          this.foodsData = foodData
          if (!lastVisible) {
            this.lastDocument = lastVisible
          }
        })
      },
      onFoodDelete (foodData) {
        firebase.firestore().collection('foods').doc(this.$route.params.id).collection('menus').doc(foodData['key']).delete()
        this.dialog = false
      }
    },
    mounted () {
      this.$store.dispatch('fetchFoodSize')
      const db = firebase.firestore()
      db.collection('foods').doc(this.$route.params.id).collection('menus').limit(5).onSnapshot(snap => {
        var lastVisible = null
        var foodData = []
        snap.forEach(doc => {
          var data = {
            name: doc.data().name,
            description: doc.data().description,
            price: doc.data().price,
            key: doc.id,
            imgUrl: doc.data().imageUrl
          }
          foodData.push(data)
        })
        lastVisible = snap.docs[snap.docs.length - 1]
        this.foodsData = foodData
        this.lastDocument = lastVisible
      })
    }
  }
</script>
<style scoped>
/* image upload  */

.dropbox {
    outline: 2px dashed rgb(80, 21, 21); /* the dash box */
    outline-offset: -10px;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
  }

  /*Loader fro loading button whne submitting*/

  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
