<template>
<v-container>
  <v-layout row wrap v-if="error">
    <v-flex xs12 sm6 offset-sm3>
      <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex>
      <v-card flat>
        <v-card-title class="title primary--text elevation-4">
          UPDATE BEVERAGE MENU
        </v-card-title>

        <v-card-title>
          <v-flex xs12>
            <form @submit.prevent="submitBaverage">
              <v-flex xs12>
                <v-layout row wrap>
                  <v-flex lg5 xs12 class="pa-2">
                    <v-layout row wrap>
                      <v-flex @click="onPickBaverage" class="dropbox">
                        <input type="file" style="display: none" accept="image/*" class="input-file" ref="baverageItemImg" @change="onBaveragePicked">
                        <p v-if="!baverageImageUrl">Choose baverage image</p>
                        <img :src="baverageImageUrl" width="100%" height="100%" contain>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex lg7 xs12 class="pa-2 ">
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field label="Baverage Name" solo v-model="baverageName" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-select label="Choose a category" solo :items="baverageCategoryItem" v-model="baverageCategory" required></v-select>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-select label="Choose a sub category" solo :items="baverageSubCategoryItem" v-model="baverageSubCategory" required></v-select>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field label="Price" solo type="number" v-model.number="baveragePrice" required=""></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-textarea label="Description" solo v-model="baverageDescription" required></v-textarea>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>

              <v-card-actions>
                <v-btn color="primary darken-1" :disabled="loading" :loading="loading" type="submit">
                  update
                  <span slot="loader" class="custom-loader">
                    <v-icon>cached</v-icon>
                  </span>
                </v-btn>
              </v-card-actions>
            </form>
          </v-flex>

        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import * as firebase from '../../../node_modules/firebase'
export default {
  data () {
    return {
      baverageImageUrl: null,
      baverageItemImg: null,
      baverageimage: null,
      baverageName: null,
      baveragePrice: null,
      baverageDescription: null,
      baverageCategory: null,
      baverageSubCategory: null,
      baverageCategoryItem: ['Cold', 'Hot'],
      docid: null,
      loader: null
    }
  },
  mounted () {
    const db = firebase.firestore()
    db.collection('beverages').doc(this.$route.params.id).onSnapshot(doc => {
      if (doc.exists) {
        this.baverageImageUrl = doc.data().imageUrl
        this.baverageName = doc.data().name
        this.baveragePrice = doc.data().price
        this.baverageDescription = doc.data().description
        this.baverageCategory = doc.data().category
        this.baverageSubCategory = doc.data().subCategory
        this.docid = doc.id
      } else {
        console.log('No such document!')
      }
    }).catch(error => {
      console.log('Error getting document:', error)
    })
  },
  methods: {
    onUpdate () {
      const baverageItems = {
        name: this.baverageName,
        imageUrl: this.baverageimage,
        category: this.baverageCategory,
        subCategory: this.baverageSubCategory,
        price: this.baveragePrice,
        description: this.baverageDescription
      }
      this.$store.dispatch('updateBev', baverageItems)
    },
    onPickBaverage () {
      this.$refs.baverageItemImg.click()
    },
    onBaveragePicked (event) {
      const files = event.target.files
      let filename = files[0].name
      if (filename.lastIndexOf('.') <= 0) {
        return alert('Please add a cover image !')
      }
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.baverageImageUrl = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.baverageimage = files[0]
    }
  },
  computed: {
    baverageSubCategoryItem () {
      let baverageSubCategoryItem = []
      if (this.baverageCategory === 'Cold') {
        baverageSubCategoryItem = ['Diary', 'Non Diary']
      } else if (this.baverageCategory === 'Hot') {
        baverageSubCategoryItem = ['Coffe', 'Tea', 'Chocolate']
      }
      return baverageSubCategoryItem
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]
      setTimeout(() => (this[l] = false), 3000)
      this.loader = null
    }
  }
}
</script>


<style scoped>
/* image upload  */

.dropbox {
  outline: 2px dashed rgb(80, 21, 21);
  /* the dash box */
  outline-offset: -10px;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px;
  /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0;
  /* invisible but it's there! */
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}


/*Loader fro loading button whne submitting*/

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
