<template>
<v-container>
  <v-layout row wrap v-if="error">
    <v-flex xs12 sm6 offset-sm3>
      <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex>
      <v-card flat>
        <v-card-title class="title primary--text elevation-4">
          UPDATE DESSERT   MENU
        </v-card-title>

        <v-card-title>
          <v-flex xs12>
            <form @submit.prevent="onUpdate">
              <v-flex xs12>
                <v-layout row wrap>
                  <v-flex lg5 xs12 class="pa-2">
                    <v-layout row wrap>
                      <v-flex @click="onPickDessert" class="dropbox">
                        <input type="file" style="display: none" accept="image/*" class="input-file" ref="dessertItemImg" @change="onDessertPicked">
                        <p v-if="!dessertImageUrl">Choose dessert image</p>
                        <img :src="dessertImageUrl" width="100%" height="100%" contain>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex lg7 xs12 class="pa-2 ">
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field label="Dessert Name" solo="" v-model="dessertName" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-select label="Choose a category" solo :items="dessertCategoryItem" v-model="dessertCategory" required></v-select>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field label="Price" solo="" type="number" v-model.number="dessertPrice" required=""></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-textarea label="Description" solo v-model="dessertDescription" required></v-textarea>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>

              <v-card-actions>
                <v-btn color="primary darken-1" :disabled="loading" :loading="loading" type="submit" >
                  update
                  <span slot="loader" class="custom-loader">
                    <v-icon>cached</v-icon>
                  </span>
                </v-btn>
              </v-card-actions>
            </form>
          </v-flex>

        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import * as firebase from '../../../node_modules/firebase'
export default {
  data () {
    return {
      dessertImageUrl: null,
      dessertItemImg: null,
      dessertimage: null,
      dessertName: null,
      dessertPrice: 0,
      dessertDescription: null,
      dessertCategory: null,
      dessertCategoryItem: ['Ice-Cream', 'Pastries', 'Slurpees'],
      docid: null,
      loader: null
    }
  },
  mounted () {
    const db = firebase.firestore()
    db.collection('desserts').doc(this.$route.params.id).get().then(doc => {
      if (doc.exists) {
        this.dessertImageUrl = doc.data().imageUrl
        this.dessertName = doc.data().name
        this.dessertPrice = doc.data().price
        this.dessertDescription = doc.data().description
        this.dessertCategory = doc.data().category
        this.docid = doc.id
      } else {
        // doc.data() will be undefined in this case
        console.log('No such document!')
      }
    }).catch(error => {
      console.log('Error getting document:', error)
    })
  },
  methods: {
    onUpdate () {
      const dessertItems = {
        name: this.dessertName,
        imageUrl: this.dessertimage,
        category: this.dessertCategory,
        price: this.dessertPrice,
        description: this.dessertDescription
      }
      this.$store.dispatch('updateDessert', dessertItems)
    },
    onPickDessert () {
      this.$refs.dessertItemImg.click()
    },
    onDessertPicked (event) {
      const files = event.target.files
      let filename = files[0].name
      if (filename.lastIndexOf('.') <= 0) {
        return alert('Please add a cover image !')
      }
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.dessertImageUrl = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.dessertimage = files[0]
    }
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]
      setTimeout(() => (this[l] = false), 3000)
      this.loader = null
    }
  }
}
</script>


<style scoped>
/* image upload  */

.dropbox {
  outline: 2px dashed rgb(80, 21, 21);
  /* the dash box */
  outline-offset: -10px;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px;
  /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0;
  /* invisible but it's there! */
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}


/*Loader fro loading button whne submitting*/

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
