<template>
  <v-container>
    <v-layout class="pa-1" v-for="(message, i) in messages" :key="i">
      <v-flex class="ml-5 mr-5 pl-5 pr-5">
        <v-card>
          <v-card-title>
            <v-layout>
              <v-flex xs2 class="text-xs-center">
                <v-avatar>
                  <v-icon>person</v-icon>
                  <!-- <img src="https://lh3.googleusercontent.com/-JM1Qc7ebFH0/AAAAAAAAAAI/AAAAAAAAABA/2HkPbbBvcrw/photo.jpg" alt=""> -->
                </v-avatar>
              </v-flex>
              <v-flex xs9 class="">
                <v-layout class="pt-2">
                  <span class="title">{{message.senderName}}</span>
                  <v-spacer></v-spacer>
                  <span class="subheading grey--text">
                    {{message.createdAt | date}}
                  </span>
                </v-layout>
                <v-layout class="pt-3">
                  <span class="subheading ">
                    {{message.message}}
                  </span>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>


<script>
  import * as firebase from '../../node_modules/firebase'

  export default {
    data () {
      return {
        messages: [],
        dialog: false
      }
    },
    mounted () {
      const db = firebase.firestore()
      db.collection('messages').get().then(snap => {
        var message = []
        snap.forEach(doc => {
          var data = {
            email: doc.data().authUserEmail,
            name: doc.data().authUserName,
            createdAt: doc.data().createdAt,
            senderName: doc.data().senderName,
            message: doc.data().message,
            senderPhone: doc.data().senderPhone
          }
          message.push(data)
        })
        this.messages = message
      })
    }
  }
</script>


