<template>
  <v-container fluid >
    <v-layout row wrap>
      <v-flex lg6 xs12>
        <v-layout row wrap>
           <v-flex lg6 xs12 class="pa-2" v-for="(item, i) in items" :key="i">
            <v-card class="elevation-3" style="border-radius: 5px" :to="item.to">
              <v-progress-linear value="100"></v-progress-linear>
              <v-card-title >

                <v-flex xs6>
                  <span class="title primary--text">
                    <h3>{{item.itemNum}}</h3>
                  </span>
                </v-flex>
                <v-flex xs6>
                  <v-layout row wrap>
                    <v-spacer></v-spacer>
                  <v-icon color="accent" large>{{item.icon}}</v-icon>
                  </v-layout>
                </v-flex>

                <span class="subheading primary--text pt-2"><h4>{{item.title}}</h4></span>

              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex lg6 xs12 class="pa-2">
        <v-layout row wrap>
          <v-flex xs12>
            <v-card class="elevation-3" style="border-radius: 5px" >
              <v-progress-linear value="100"></v-progress-linear>
              <bar-chart
                :height="250"
                :data="barChartData"
                :options="{ maintainAspectRatio: false }"></bar-chart>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-dialog v-model="dialog" persistent max-width="500px">
        <v-btn
          slot="activator"
          color="accent"
          dark
          class="mb-5"
          absolute
          bottom
          right
          fixed
          fab>
          <v-icon>add</v-icon>
        </v-btn>

        <v-card >
            <v-flex xs12 class="primary white--text">
              <v-card-title>
                  <span class="title">ADD TO MENU</span>
              </v-card-title>
            </v-flex>
            <v-flex xs12>
              <v-tabs>
                <v-card-title>
                  <v-tab class="primary--text" href="#foods">
                    Foods
                  </v-tab>
                  <v-tab class="accent--text" href="#dessert">
                    Dessert
                  </v-tab>
                  <v-tab class="red--text" href="#baverage">
                    Baverage
                  </v-tab>
                </v-card-title>

                <!-- submition food form -->
                <v-tab-item id="foods">
                  <v-flex xs12>
                    <form @submit.prevent="submitFood">
                      <v-flex xs12>
                        <v-layout row wrap>
                          <v-flex lg5 xs12 class="pa-2">
                            <v-layout row wrap>
                              <v-flex @click="onPickFood" class="dropbox">
                                <input
                                  type="file"
                                  style="display: none"
                                  accept="image/*"
                                  class="input-file"
                                  ref="foodItemImg"
                                  @change="onFoodPicked">
                                  <p v-if="!foodImageUrl">Choose food image</p>
                                  <img :src="foodImageUrl" width="100%" height="100%" contain>
                              </v-flex>
                            </v-layout>
                          </v-flex>


                          <v-flex lg7 xs12 class="pa-2 ">
                            <v-layout row wrap>
                              <v-flex xs8>
                                <v-select label="Choose a category" :items="foodCategoryItems" v-model="foodCategory" required ></v-select>
                              </v-flex>

                              <v-flex xs4 class="pt-2 pr-2">
                                <v-dialog v-model="FoodModel" max-width="300px">
                                  <v-btn slot="activator" color="accent">
                                    <v-icon>add</v-icon>
                                  </v-btn>

                                  <v-card>
                                    <form @submit.prevent="addFoodCategory">
                                      <v-card-title class="primary">
                                        <h4 class="white--text">Add New Category</h4>
                                      </v-card-title>
                                      <v-card-title>
                                        <v-text-field label="Category Name" type="text" v-model="newFoodCategory" required ></v-text-field>
                                      </v-card-title>
                                      <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn @click.native="FoodModel = false" class="primary">
                                          Cancel
                                        </v-btn>

                                        <v-btn class="primary" type="submit">
                                          Save
                                        </v-btn>
                                      </v-card-actions>
                                    </form>
                                  </v-card>

                                </v-dialog>
                              </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-text-field label="Foods Name" type="text" v-model="foodName" required ></v-text-field>
                              </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-text-field label="Price" type="number" v-model.number="foodPrice" required="" ></v-text-field>
                              </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12 >
                                <v-textarea label="Description" type="text" v-model="foodDescription" required ></v-textarea>
                            </v-flex>
                            </v-layout>

                          </v-flex>
                        </v-layout>
                      </v-flex>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" flat @click.native="dialog = false">Close</v-btn>
                        <v-btn color="red darken-1" :disabled="loading" :loading="loading" type="submit" flat>
                          Save
                          <span slot="loader" class="custom-loader">
                            <v-icon>cached</v-icon>
                          </span>
                        </v-btn>
                      </v-card-actions>
                    </form>
                  </v-flex>
                </v-tab-item>

                <!-- submition dessert form -->
                <v-tab-item id="dessert">
                  <v-flex xs12>
                    <form @submit.prevent="submitDessert">
                      <v-flex xs12>
                        <v-layout row wrap>
                          <v-flex lg5 xs12 class="pa-2">
                            <v-layout row wrap>
                              <v-flex @click="onPickDessert" class="dropbox">
                                <input
                                  type="file"
                                  style="display: none"
                                  accept="image/*"
                                  class="input-file"
                                  ref="dessertItemImg"
                                  @change="onDessertPicked">
                                  <p v-if="!dessertImageUrl">Choose dessert image</p>
                                  <img :src="dessertImageUrl" width="100%" height="100%" contain>
                              </v-flex>
                            </v-layout>
                          </v-flex>

                          <v-flex lg7 xs12 class="pa-2 ">

                            <v-layout row wrap>
                              <v-flex xs8>
                                <v-select label="Choose a category" :items="dessertCategoryItem" v-model="dessertCategory" required ></v-select>
                              </v-flex>

                              <v-flex xs4 class="pt-2 pr-2">
                                <v-dialog v-model="DessertModel" max-width="300px">
                                  <v-btn slot="activator" color="accent">
                                    <v-icon>add</v-icon>
                                  </v-btn>

                                  <v-card>
                                    <form @submit.prevent="addDessertCategory">
                                      <v-card-title class="primary">
                                        <h4 class="white--text">Add New Category</h4>
                                      </v-card-title>
                                      <v-card-title>
                                        <v-text-field label="Category Name" type="text" v-model="newDessertCategory" required ></v-text-field>
                                      </v-card-title>
                                      <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn @click.native="DessertModel = false" class="primary">
                                          Cancel
                                        </v-btn>

                                        <v-btn class="primary" type="submit">
                                          Save
                                        </v-btn>
                                      </v-card-actions>
                                    </form>
                                  </v-card>

                                </v-dialog>
                              </v-flex>

                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-text-field label="Dessert Name" v-model="dessertName" required ></v-text-field>
                              </v-flex>
                            </v-layout>




                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-text-field label="Price" type="number" v-model.number="dessertPrice" required="" ></v-text-field>
                              </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-textarea label="Description" v-model="dessertDescription" required ></v-textarea>
                              </v-flex>
                            </v-layout>

                          </v-flex>
                        </v-layout>
                      </v-flex>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="accent darken-1" flat @click.native="dialog = false">Close</v-btn>
                        <v-btn color="red darken-1" :disabled="loading" :loading="loading" type="submit" flat>
                          Save
                          <span slot="loader" class="custom-loader">
                            <v-icon>cached</v-icon>
                          </span>
                        </v-btn>
                      </v-card-actions>
                    </form>
                  </v-flex>
                </v-tab-item>

                <!-- submition baverage -->
                <v-tab-item id="baverage">
                  <v-flex xs12>
                    <form @submit.prevent="submitBaverage">
                      <v-flex xs12>
                        <v-layout row wrap>
                          <v-flex lg5 xs12 class="pa-2">
                            <v-layout row wrap>
                              <v-flex @click="onPickBaverage" class="dropbox">
                                <input
                                  type="file"
                                  style="display: none"
                                  accept="image/*"
                                  class="input-file"
                                  ref="baverageItemImg"
                                  @change="onBaveragePicked">
                                  <p v-if="!baverageImageUrl">Choose baverage image</p>
                                  <img :src="baverageImageUrl" width="100%" height="100%" contain>
                              </v-flex>
                            </v-layout>
                          </v-flex>

                          <v-flex lg7 xs12 class="pa-2 ">
                            <v-layout row wrap>
                              <v-flex xs8>
                                <v-select label="Choose a category" :items="baverageCategoryItem" v-model="baverageCategory" required ></v-select>
                              </v-flex>

                                <v-flex xs4 class="pt-2 pr-2">
                                  <v-dialog v-model="BevModel" max-width="300px">
                                    <v-btn slot="activator" color="accent">
                                      <v-icon>add</v-icon>
                                    </v-btn>

                                    <v-card>
                                      <form @submit.prevent="addBevCategory">
                                        <v-card-title class="primary">
                                          <h4 class="white--text">Add New Category</h4>
                                        </v-card-title>
                                        <v-card-title>
                                          <v-text-field label="Category Name" type="text" v-model="newBevCategory" required ></v-text-field>
                                        </v-card-title>
                                        <v-card-actions>
                                          <v-spacer></v-spacer>
                                          <v-btn @click.native="BevModel = false" class="primary">
                                            Cancel
                                          </v-btn>

                                          <v-btn class="primary" type="submit">
                                            Save
                                          </v-btn>
                                        </v-card-actions>
                                      </form>
                                    </v-card>
                                  </v-dialog>
                                </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-text-field label="Baverage Name" v-model="baverageName" required ></v-text-field>
                              </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-text-field label="Price" type="number" v-model.number="baveragePrice" required="" ></v-text-field>
                              </v-flex>
                            </v-layout>

                            <v-layout row wrap>
                              <v-flex xs12 >
                                <v-textarea label="Description" v-model="baverageDescription" required ></v-textarea>
                              </v-flex>
                            </v-layout>

                          </v-flex>
                        </v-layout>
                      </v-flex>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" flat @click.native="dialog = false">Close</v-btn>
                        <v-btn color="red darken-1" :disabled="loading" :loading="loading" type="submit" flat>
                          Save
                          <span slot="loader" class="custom-loader">
                            <v-icon>cached</v-icon>
                          </span>
                        </v-btn>
                      </v-card-actions>
                    </form>
                  </v-flex>
                </v-tab-item>
              </v-tabs>
           </v-flex>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
  import BarChart from './chart/bar-chart.js'
  import * as firebase from '../../node_modules/firebase'
  export default {
    components: {
      BarChart
    },
    data () {
      return {
        // Dialog modle
        dialog: false,
        FoodModel: false,
        DessertModel: false,
        BevModel: false,
        // food
        foodImageUrl: null,
        foodItemImg: null,
        foodimage: null,
        foodName: null,
        foodPrice: null,
        foodDescription: null,
        foodCategory: null,
        newFoodCategory: null,
        // Dessert
        dessertImageUrl: null,
        dessertItemImg: null,
        dessertimage: null,
        dessertName: null,
        dessertPrice: 0,
        dessertDescription: null,
        dessertCategory: null,
        newDessertCategory: null,
        // Baverage
        baverageImageUrl: null,
        baverageItemImg: null,
        baverageimage: null,
        baverageName: null,
        baveragePrice: null,
        baverageDescription: null,
        baverageCategory: null,
        newBevCategory: null,
        // loader
        loader: null
      }
    },
    computed: {
      barChartData () {
        let barChartData = {
          labels: [ 'Order', 'Reservation', 'Review', 'Message' ],
          datasets: [
            {
              label: 'Overview',
              backgroundColor: ['#633', '#f4c242', '#f44e42', '#332513'],
              data: [ this.orderSize, this.reservationSize, this.reviewSize, this.messageSize ]
            }
          ]
        }
        return barChartData
      },
      items () {
        let items = [
          {title: 'Orders', itemNum: this.orderSize, icon: 'room_service', to: '/order'},
          {title: 'Reservation', itemNum: this.reservationSize, icon: 'event_note', to: '/reservation'},
          {title: 'Review', itemNum: this.reviewSize, icon: 'rate_review', to: '/review'},
          {title: 'Message', itemNum: this.messageSize, icon: 'mail', to: '/inbox'}
        ]
        return items
      },
      messageSize () {
        return this.$store.getters.getMessage
      },
      foodCategoryItems () {
        return this.$store.getters.foodItems
      },
      dessertCategoryItem () {
        return this.$store.getters.dessertItems
      },
      baverageCategoryItem () {
        return this.$store.getters.bevItems
      },
      orderSize () {
        return this.$store.getters.orderSize
      },
      reviewSize () {
        return this.$store.getters.reviewSize
      },
      reservationSize () {
        return this.$store.getters.reservationSize
      },
      baveragesize () {
        return this.$store.getters.baverageSize
      },
      dessertsize () {
        return this.$store.getters.desertSize
      },
      foodSize () {
        return this.$store.getters.foodSize
      },
      menus () {
        return this.baveragesize + this.dessertsize + this.foodSize
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]
        setTimeout(() => (this[l] = false), 3000)
        this.loader = null
      }
    },
    methods: {

      // New Food Categoty
      addFoodCategory () {
        firebase.firestore().collection('foods').doc(this.newFoodCategory).set({
          name: this.newFoodCategory
        }).then(alert('Food new Category added successfully')).catch(error => {
          console.log('Error while adding new category', error)
        })
      },
      addDessertCategory () {
        console.log('Here i am', this.newDessertCategory)
        firebase.firestore().collection('desserts').doc(this.newDessertCategory).set({
          name: this.newDessertCategory
        }).then(alert('Dessert   new Category added successfully')).catch(error => {
          console.log('Error while adding new category', error)
        })
      },
      addBevCategory () {
        console.log('Heoo')
        firebase.firestore().collection('beverages').doc(this.newBevCategory).set({
          name: this.newBevCategory
        }).then(alert('Beverage new Category added successfully')).catch(error => {
          console.log('Error while adding new category', error)
        })
      },
      // Submit food item
      submitFood () {
        if (!this.foodimage) {
          return alert('Please add a Food image !')
        }
        const foodItems = {
          name: this.foodName,
          imageUrl: this.foodimage,
          price: this.foodPrice,
          description: this.foodDescription,
          foodCategory: this.foodCategory
        }
        this.$store.dispatch('addFood', foodItems)
      },
      // Submit dessert itme
      submitDessert () {
        if (!this.dessertimage) {
          return alert('Please add a Dessert image !')
        }
        const dessertItems = {
          name: this.dessertName,
          imageUrl: this.dessertimage,
          category: this.dessertCategory,
          price: this.dessertPrice,
          description: this.dessertDescription
        }
        this.$store.dispatch('addDessert', dessertItems)
      },
      // Submit baverage
      submitBaverage () {
        if (!this.baverageimage) {
          return alert('Please add a Baverag image !')
        }
        const baverageItems = {
          name: this.baverageName,
          imageUrl: this.baverageimage,
          category: this.baverageCategory,
          price: this.baveragePrice,
          description: this.baverageDescription
        }
        this.$store.dispatch('addBaverage', baverageItems)
      },
      // Pick food image
      onPickFood () {
        this.$refs.foodItemImg.click()
      },
      onFoodPicked (event) {
        const files = event.target.files
        let filename = files[0].name

        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a cover image !')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.foodImageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.foodimage = files[0]
      },
      // Pick dessert image
      onPickDessert () {
        this.$refs.dessertItemImg.click()
      },
      onDessertPicked (event) {
        const files = event.target.files
        let filename = files[0].name

        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a cover image !')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.dessertImageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.dessertimage = files[0]
      },
      // Pick baverage image
      onPickBaverage () {
        this.$refs.baverageItemImg.click()
      },
      onBaveragePicked (event) {
        const files = event.target.files
        let filename = files[0].name

        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a cover image !')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.baverageImageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.baverageimage = files[0]
      }
    },
    mounted () {
      this.$store.dispatch('fetchFoodCategory')
      this.$store.dispatch('fetchDessertCategory')
      this.$store.dispatch('fetchBevCategory')
      this.$store.dispatch('fetchMessage')
      this.$store.dispatch('fetchResrervationSize')
      this.$store.dispatch('fetchReviewSize')
      this.$store.dispatch('fetchOrderSize')
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

/* image upload  */

.dropbox {
    outline: 2px dashed rgb(80, 21, 21); /* the dash box */
    outline-offset: -10px;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
  }

  /*Loader fro loading button whne submitting*/

  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
/** Heavy Italic */
.list-menu {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");
}
</style>
