<template>
  <v-container>
    <v-layout class="pa-1">
      <v-flex class="ml-5 mr-5 pl-5 pr-5">
        <v-card>
          <v-card-title>
            <v-layout>
              <v-flex xs2 class="text-xs-center ">
                <v-avatar>
                  <v-icon large="" color="primary">room_service</v-icon>
                </v-avatar>
              </v-flex>
              <v-flex xs10 class="">
                <v-layout class="pt-2">
                  <span class="title">You have a new order</span>
                </v-layout>
                <v-layout class="pt-3">
                  <span class="subheading ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quidem veniam fuga reiciendis expedita sunt aperiam deserunt consequuntur dicta.
                  </span>
                </v-layout>
                <v-layout class="pt-2">
                  <span class="subheading grey--text">
                    Just now
                  </span>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout class="pa-1">
      <v-flex class="ml-5 mr-5 pl-5 pr-5">
        <v-card>
          <v-card-title>
            <v-layout>
              <v-flex xs2 class="text-xs-center ">
                <v-avatar>
                  <v-icon large="" color="accent">rate_review</v-icon>
                </v-avatar>
              </v-flex>
              <v-flex xs10 class="">
                <v-layout class="pt-2">
                  <span class="title">You have a new review</span>
                </v-layout>
                <v-layout class="pt-3">
                  <span class="subheading ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quidem veniam fuga reiciendis expedita sunt aperiam deserunt consequuntur dicta.
                  </span>
                </v-layout>
                <v-layout class="pt-2">
                  <span class="subheading grey--text">
                    2 min Ago
                  </span>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout class="pa-1">
      <v-flex class="ml-5 mr-5 pl-5 pr-5">
        <v-card>
          <v-card-title>
            <v-layout>
              <v-flex xs2 class="text-xs-center ">
                <v-avatar>
                  <v-icon large="" color="red">event_note</v-icon>
                </v-avatar>
              </v-flex>
              <v-flex xs10 class="">
                <v-layout class="pt-2">
                  <span class="title">You have a new reservation</span>
                </v-layout>
                <v-layout class="pt-3">
                  <span class="subheading">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quidem veniam fuga reiciendis expedita sunt aperiam deserunt consequuntur dicta.
                  </span>
                </v-layout>
                <v-layout class="pt-2">
                  <span class="subheading grey--text">
                    2 min Ago
                  </span>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

