<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 class="pa-2">
        <v-layout row wrap>
          <v-flex xs12 v-for="(order, i) in orders" :key="i" class="pa-2">
            <v-card  >
              <v-flex xs12>
                <v-expansion-panel>
                  <v-expansion-panel-content>
                    <div slot="header" >
                      <v-layout row wrap>
                        <v-flex lg6>
                          <v-icon color="accent">room_service</v-icon>
                          <span class="subheading accent--text pl-2">Order #{{i | number}}</span>
                        </v-flex>
                        <v-flex lg6>
                          <span class="subheading accent--text">{{order.state}}</span>
                        </v-flex>
                      </v-layout>
                    </div>
                    <v-divider></v-divider>
                    <v-layout>
                      <v-flex lg8 xs12>
                        <v-card >
                          <v-card-title>
                            <v-flex xs12>
                              <v-layout row wrap="">
                                <v-flex lg2 xs12>
                                  <span class="title grey--text pl-2">
                                    #
                                  </span>
                                </v-flex>
                                <v-flex lg3 xs12>
                                  <span class="title grey--text">
                                    Item
                                  </span>
                                </v-flex>
                                <v-flex lg3 xs12>
                                  <span class="title grey--text pl-2">
                                    Price
                                  </span>
                                </v-flex>
                                <v-flex lg3 xs12>
                                  <span class="title grey--text pl-2">
                                    Quantity
                                  </span>
                                </v-flex>
                              </v-layout>
                              <v-divider></v-divider>

                              <v-layout row wrap class="pt-2" v-for="(item, i) in order.items" :key="i">
                                <v-flex lg2 xs12>
                                  <v-avatar>
                                    <img :src="item.itemImageUrl">
                                  </v-avatar>
                                </v-flex>
                                <v-flex lg3 xs12 class="pt-2">
                                  <span class="subheading grey--text">
                                    {{item.itemName}}
                                  </span>
                                </v-flex>
                                <v-flex lg3 xs12 class="pt-2">
                                  <span class="subheading grey--text pl-2">
                                    UGX {{item.itemPrice}}
                                  </span>
                                </v-flex>
                                <v-flex lg3 xs12 class="pt-2">
                                  <span class="subheading grey--text pl-2">
                                    {{item.itemQuantity}}
                                  </span>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-card-title>
                        </v-card>
                      </v-flex>

                      <v-flex lg4>
                        <v-card>
                          <v-card-title>
                            <v-flex xs12 class="pa-1">
                              <v-layout row wrap="">
                                <v-flex xs12>
                                  <span class="title grey--text pl-2">
                                    Basic Information
                                  </span>
                                </v-flex>
                                <v-flex xs12 class="pa-1">
                                  <span class="subheading grey--text pl-2">
                                    <span>Order By :</span> <span>{{order.orderedBy.userDisplayName}}</span>
                                  </span>
                                </v-flex>
                                <v-flex xs12 class="pa-1">
                                  <span class="subheading grey--text pl-2">
                                    <span>Order At :</span> <span>{{order.orderedAt | date}}</span>
                                  </span>
                                </v-flex>
                                <v-flex xs12 class="pa-1">
                                  <span class="subheading grey--text pl-2">
                                    <span>Total Price :</span> <span>{{order.totalPrice}}</span>
                                  </span>
                                </v-flex>
                                <v-flex xs12 class="pa-1">
                                  <span class="subheading grey--text pl-2">
                                    <span>State :</span> <span>{{order.state}}</span>
                                  </span>
                                </v-flex>
                                <!-- <v-flex xs12 class="pa-1">
                                  <span class="subheading grey--text pl-2">
                                    <span>Status :</span> <span>{{order.item[0]}}</span>
                                    <span>Status :</span> <span>{{order.item[1]}}</span>
                                  </span>
                                </v-flex> -->

                                <v-flex xs12 class="pa-1 text-xs-center">
                                  <v-btn  block outline round class="subheading text-xs-center accent accent--text ">
                                   Complete
                                  </v-btn>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-card-title>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {
    orders () {
      return this.$store.getters.getOrder
    },
    items () {
      return this.$store.getters.getOrder.items
    }
  },
  mounted () {
    this.$store.dispatch('fetchOrder')
  }
}
</script>


