<template>
   <v-container>
    <v-layout row wrap>
      <v-flex xs12 class="pa-2">
        <v-layout row wrap>
          <v-flex xs12  class="pa-2">
            <v-card>
              <v-flex xs12>
                <v-layout>
                  <v-flex xs12>
                    <v-card>
                        <v-flex xs12 >
                          <v-card-title class="accent">
                            <v-layout row wrap>
                              <v-flex xs3>
                                <span class="subheading white--text">
                                  Date & Time
                                </span>
                              </v-flex>
                              <v-flex xs2>
                                <span class="subheading white--text">
                                  Name
                                </span>
                              </v-flex>
                              <v-flex xs3>
                                <span class="subheading white--text">
                                  Email
                                </span>
                              </v-flex>
                              <v-flex xs2 >
                                <span class="subheading white--text">
                                  Phone Number
                                </span>
                              </v-flex>
                              <v-flex xs2>
                                <span class="subheading white--text">
                                  Size Of Party
                                </span>
                              </v-flex>
                            </v-layout>
                          </v-card-title>

                          <v-layout row wrap v-for="(reservation, i) in reservations" :key="i">
                            <v-flex xs12>
                              <v-card-title>
                                <v-flex xs3>
                                  <span class="subheading">
                                    {{reservation.reservationDateTime | date}}
                                  </span>
                                </v-flex>
                                <v-flex xs2>
                                  <span class="subheading">
                                    {{reservation.name}}
                                  </span>
                                </v-flex>
                                <v-flex xs3>
                                  <span class="subheading ">
                                    {{reservation.email}}
                                  </span>
                                </v-flex>
                                <v-flex xs2 >
                                  <span class="subheading">
                                    {{reservation.phonenumber}}
                                  </span>
                                </v-flex>

                                <v-flex xs2 >
                                  <span class="subheading">
                                    {{reservation.type}}
                                  </span>
                                </v-flex>
                              </v-card-title>
                            </v-flex>
                          </v-layout>

                          <v-divider></v-divider>
                          <v-layout row wrap="">
                              <v-spacer></v-spacer>
                              <v-card-title>
                                <h4 class="accent--text">
                                  {{reservation_size}} of
                                  {{reservation_size}}
                                </h4>
                              </v-card-title>

                              <v-btn icon @click="onBackItems">
                                <v-icon color="accent">
                                  chevron_left
                                </v-icon>
                              </v-btn>
                              <v-btn icon @click="onNextItems">
                                <v-icon color="accent">
                                  chevron_right
                                </v-icon>
                              </v-btn>
                          </v-layout>
                        </v-flex>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import * as firebase from '../../node_modules/firebase'
export default {
  data () {
    return {
      reservations: [],
      lastDocument: null
    }
  },
  computed: {
    reservation_size () {
      return this.$store.getters.reservationSize
    }
  },
  methods: {
    onNextItems () {
      var lastVisible = this.lastDocument
      const db = firebase.firestore()
      db.collection('reservations').startAfter(lastVisible).limit(5).onSnapshot(snap => {
        var beverageData = []
        snap.forEach(doc => {
          var data = {
            name: doc.data().name,
            description: doc.data().description,
            price: doc.data().price,
            key: doc.id,
            imgUrl: doc.data().imageUrl,
            category: doc.data().category,
            subCategory: doc.data().subCategory
          }
          beverageData.push(data)
        })
        lastVisible = snap.docs[snap.docs.length - 1]
        this.beveragesData = beverageData
        if (!lastVisible) {
          this.lastDocument = lastVisible
        }
      })
    },
    onBackItems () {
      var lastVisible = this.lastDocument
      const db = firebase.firestore()
      db.collection('reservations').endAt(lastVisible).limit(5).onSnapshot(snap => {
        var beverageData = []
        snap.forEach(doc => {
          var data = {
            name: doc.data().name,
            description: doc.data().description,
            price: doc.data().price,
            key: doc.id,
            imgUrl: doc.data().imageUrl,
            category: doc.data().category,
            subCategory: doc.data().subCategory
          }
          beverageData.push(data)
        })
        lastVisible = snap.docs[snap.docs.length - 1]
        this.beveragesData = beverageData
        if (!lastVisible) {
          this.lastDocument = lastVisible
        }
      })
    }
  },
  mounted () {
    const db = firebase.firestore()
    db.collection('reservations').orderBy('reservedAt', 'desc').limit(5).onSnapshot(snap => {
      var lastVisible = null
      var reservation = []
      snap.forEach(doc => {
        var data = {
          name: doc.data().authUserName,
          email: doc.data().authUserEmail,
          phonenumber: doc.data().phoneNumber,
          reservationDateTime: doc.data().reservationDateTime,
          key: doc.id,
          type: doc.data().sizeOfParty
        }
        reservation.push(data)
      })
      lastVisible = snap.docs[snap.docs.length - 1]
      this.reservations = reservation
      this.lastDocument = lastVisible
    })
  }
}
</script>

