<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout row wrap="">
          <v-flex xs12 class="pa-2 ma-2">
            <v-expansion-panel popout>
              <v-expansion-panel-content v-for="(review,i) in reviews" :key="i">
                <div slot="header">
                  <v-layout>
                    <v-flex xs12>
                      <span class="title accent--text">{{review.ratingTitle}}</span>
                    </v-flex>
                  </v-layout>
                </div>
                <v-divider></v-divider>
                <v-card>
                  <v-card-text class="pl-5">
                    <span class="title pr-3">{{review.ratingStars}}.0</span>
                    <v-icon color="accent" v-for="(item, i) in review.ratingStars" :key="i">start</v-icon>
                  </v-card-text>
                  <v-card-text class="pl-5">
                    <span class="subheading grey--text">
                      {{review.comment}}
                    </span>
                  </v-card-text>
                  <v-card-text class="pl-5">
                    <span class="title">
                      {{review.name}}
                    </span>

                    <span class="subheading grey--text">
                      {{review.createdAt | date}}
                    </span>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import * as firebase from '../../node_modules/firebase'
export default {
  data () {
    return {
      reviews: [],
      lastDocument: null
    }
  },
  mounted () {
    const db = firebase.firestore()
    db.collection('reviews').limit(5).onSnapshot(snap => {
      let lastVisible = null
      let review = []
      snap.forEach(doc => {
        let data = {
          name: doc.data().authUserName,
          email: doc.data().authUserEmail,
          comment: doc.data().comment,
          createdAt: doc.data().createdAt,
          ratingStars: doc.data().rating.index,
          ratingTitle: doc.data().rating.title,
          key: doc.id,
          table: doc.data().tableLocation
        }
        review.push(data)
      })
      lastVisible = snap.docs[snap.docs.length - 1]
      this.reviews = review
      this.lastDocument = lastVisible
    })
  }
}
</script>
