<template>
  <v-app >
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      fixed
      app
      v-if="userIsAuthenticated">
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.link"
          style="cursor: pointer"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="list-menu" v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-footer :fixed="fixed" app color="transparent">
          <v-list-action>
            <v-btn icon @click.stop="miniVariant = !miniVariant" flat>
              <v-icon large color="primary" v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
            </v-btn>
          </v-list-action>
        </v-footer>
      </v-list>

    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
      class="primary"
      dark
      flat
    >

      <v-toolbar-title>
        <router-link tag="span" style="cursor: pointer" to="/">
          <v-avatar size="50px">
            <img src="/static/cropped-Logo-Website-only-1-1.png" height="40px" alt="">
          </v-avatar>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon v-if="userIsAuthenticated" to="/notfication">
        <!-- <v-icon > notifications_none</v-icon> -->
        <v-badge overlap>
          <!-- <span slot="badge" class="subheading yellow--text">
            3
          </span> -->
          <v-icon > notifications</v-icon>
        </v-badge>
      </v-btn>


      <v-btn icon v-if="userIsAuthenticated" to="/inbox">
        <v-badge overlap>
          <!-- <v-span slot="badge" class="subheading yellow--text">
            8
          </v-span> -->
          <v-icon >mail</v-icon>
        </v-badge>
      </v-btn>

      <v-btn v-if="userIsAuthenticated" icon @click="singOut">
        <v-icon >power_settings_new</v-icon>
      </v-btn>

    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>

    <v-footer :fixed="fixed" app class="primary--text">
      Roast Sphere <span> &copy; 2018</span>

    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [
        {title: 'Dashboard', icon: 'dashboard', link: '/'},
        {title: 'Food', icon: 'fastfood', link: '/menu/foodCategory'},
        {title: 'Dessert', icon: 'restaurant_menu', link: '/menu/dessertCategory'},
        {title: 'Beverage', icon: 'local_bar', link: '/menu/beverageCategory'},
        {title: 'Order', icon: 'room_service', link: '/order'},
        {title: 'Reservation', icon: 'event_note', link: '/reservation'},
        {title: 'Review', icon: 'rate_review', link: '/review'}
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Roast Sphere'
    }
  },
  methods: {
    singOut () {
      this.$store.dispatch('userSignOut')
    }
  },
  computed: {
    userIsAuthenticated () {
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    }
  },
  name: 'App'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;

}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

/* image upload  */

.dropbox {
    outline: 2px dashed rgb(80, 21, 21); /* the dash box */
    outline-offset: -10px;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
  }

  /*Loader fro loading button whne submitting*/

  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /** Heavy Italic */
  .list-menu {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
}
</style>
